
@{
    ViewBag.Title = "Contact";
}

<h2 style="color:aqua; font-family: cursive">Contact</h2>
<p>
    You can Contact Us at
    <br>03218337902<br>
    <a href="https://facebook.com/m.asif.softeng">Facebook</a>

</p>


